        <footer>
          <span>Powered by <a href="http://voran.github.io/tiny-rails-gallery/" target="_blank">Tiny Rails Gallery</a>. 
              Copyleft 2013 <a href="http://yavor.stoychev.bg/" target="_blank">Yavor Stoychev</a>.</span>
        </footer>