<!DOCTYPE html>
<html>
    <head>
        <title>My Web Gallery</title>
        <%= csrf_meta_tags %>
        <meta http-equiv='content-type' content='text/html;charset=UTF-8'>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
        
        <style type="text/css">
            #main {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            
            .padded {
                padding: 10%px;
            }
            
            .folder-container {
                background-image: url(/img/folder.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                text-align: center;
            }
            
            .folder {
                margin: 20% 10% 10% 10%;
                max-height: 70%;
                max-width: 80%;
            }
            
            
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">My Web Gallery</a>
                </div>
            </div>
        </div>

        <div id="main" class="container">

                <%= yield %>

            <hr>
            <footer>
                <span> Copyright &copy; 2013 <a href="http://yavor.stoychev.info" target="_blank">Yavor Stoychev</a>. Hosted at home on my <a href="http://yavor.stoychev.info/x2.html" target="_blank">Odroid X2</a>.</span>
                <span class="pull-right">
                    <a href="https://www.facebook.com/stoychev.yavor" target="_blank">
                        <img src="http://cdn.stoychev.info/icons/social/fb.png" alt="facebook"/>
                    </a>
                    <a href="http://www.linkedin.com/pub/yavor-stoychev/4a/bb1/51a/" target="_blank">
                        <img src="http://cdn.stoychev.info/icons/social/li.png" alt="linkedin"/>
                    </a>
                    </span>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    </body>
</html>
